In [1]:
import pandas as pd

In [2]:
emp = pd.read_csv(r"C:\Users\Sarah\Documents\IronSarah\FINAL PROOJECT\20 current employees Criteo - PROFILES (start of part2).csv")

In [3]:
emp2 = pd.read_csv(r"C:\Users\Sarah\Documents\IronSarah\FINAL PROOJECT\200 current employees Criteo PROFILES (part1).csv")

In [4]:
data = pd.concat([emp, emp2])

In [8]:
data.isnull().sum()

linkedinProfile            1
email                    220
headline                   6
location                   6
imgUrl                    26
                        ...
website                  190
error                    218
mail                     220
mutualConnectionsText    162
birthday                 173
Length: 63, dtype: int64

In [10]:
data.columns

Index(['linkedinProfile', 'email', 'headline', 'location', 'imgUrl',
       'firstName', 'lastName', 'fullName', 'subscribers', 'connectionDegree',
       'vmid', 'userId', 'linkedinSalesNavigatorUrl', 'connectionsUrl',
       'mutualConnectionsUrl', 'company', 'companyUrl', 'jobTitle',
       'jobDescription', 'jobLocation', 'jobDateRange', 'company2',
       'companyUrl2', 'jobTitle2', 'jobDescription2', 'jobLocation2',
       'jobDateRange2', 'school', 'schoolDegree', 'schoolDateRange', 'school2',
       'schoolUrl2', 'schoolDegree2', 'schoolDegreeSpec2', 'schoolDateRange2',
       'baseUrl', 'profileId', 'timestamp', 'description', 'connectionsCount',
       'schoolUrl', 'schoolDegreeSpec', 'schoolDescription2', 'allSkills',
       'skill1', 'endorsement1', 'skill2', 'endorsement2', 'skill3',
       'endorsement3', 'skill4', 'endorsement4', 'skill5', 'endorsement5',
       'skill6', 'endorsement6', 'twitter', 'schoolDescription', 'website',
       'error', 'mail', 'mutualConnectionsText', 'birthday'],
      dtype='object')

In [14]:
data.head()
data.drop(['email','linkedinProfile','imgUrl','fullName','connectionDegree','linkedinSalesNavigatorUrl',
          'connectionsUrl','mutualConnectionsUrl','baseUrl','twitter','schoolDescription','website',
          'error','mail','mutualConnectionsText','birthday'],axis=1, inplace=True)

In [31]:
data.columns

Index(['headline', 'location', 'firstName', 'lastName', 'subscribers',
       'company', 'jobTitle', 'jobLocation', 'jobDateRange', 'company2',
       'jobTitle2', 'jobDateRange2', 'school', 'schoolDegree',
       'schoolDateRange', 'school2', 'schoolUrl2', 'schoolDegree2',
       'schoolDegreeSpec2', 'schoolDateRange2', 'allSkills', 'skill1',
       'endorsement1'],
      dtype='object')

In [18]:
data.drop(['vmid','userId','companyUrl','skill2','endorsement2','skill3','endorsement3','skill4',
           'endorsement4','skill5','endorsement5','skill6','endorsement6'],axis=1, inplace=True)

In [21]:
data.drop(['jobDescription','profileId','timestamp'], axis=1, inplace=True)

In [29]:
data.drop(['jobDescription2','companyUrl2','jobLocation2','description','connectionsCount','schoolUrl',
          'schoolDegreeSpec','schoolDescription2'], axis=1, inplace=True)

In [42]:
data.isnull().sum()

subscribers           6
company               6
jobTitle              6
jobDateRange          6
company2              6
jobTitle2             6
jobDateRange2         6
school               10
schoolDegree         29
schoolDateRange      15
school2              35
schoolUrl2           81
schoolDegree2        62
schoolDegreeSpec2    77
schoolDateRange2     39
dtype: int64

In [41]:
data.drop(['headline','location','firstName','lastName','jobLocation','allSkills','skill1',
           'endorsement1'],axis=1, inplace=True)

In [49]:
data.drop(['schoolUrl2'],axis=1,inplace=True)

In [44]:
data.shape

(223, 15)

In [48]:
data.fillna('unknown',inplace=True)

In [46]:
data.isnull().sum()

subscribers          0
company              0
jobTitle             0
jobDateRange         0
company2             0
jobTitle2            0
jobDateRange2        0
school               0
schoolDegree         0
schoolDateRange      0
school2              0
schoolUrl2           0
schoolDegree2        0
schoolDegreeSpec2    0
schoolDateRange2     0
dtype: int64

In [56]:
empty = data[data['subscribers']=='unknown']
empty

,subscribers,company,jobTitle,jobDateRange,company2,jobTitle2,jobDateRange2,school,schoolDegree,schoolDateRange,school2,schoolDegree2,schoolDegreeSpec2,schoolDateRange2
4,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
15,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
18,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
20,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
152,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [60]:
data.drop(index=[4,13,15,18,20,152],axis=0,inplace=True)

In [69]:
data.to_csv('employees_cleaned.csv')