In [2]:
import pandas as pd

In [6]:
emp = pd.read_csv(r"C:\Users\Sarah\Documents\Final_project_HR_Analytics\Datasets\20 current employees Criteo - PROFILES (start of part2).csv")

In [7]:
emp2 = pd.read_csv(r"C:\Users\Sarah\Documents\Final_project_HR_Analytics\Datasets\200 current employees Criteo PROFILES (part1).csv")

In [8]:
data = pd.concat([emp, emp2])

In [9]:
data.isnull().sum()

linkedinProfile            1
email                    220
headline                   6
location                   6
imgUrl                    26
                        ...
website                  190
error                    218
mail                     220
mutualConnectionsText    162
birthday                 173
Length: 63, dtype: int64

In [10]:
data.columns

Index(['linkedinProfile', 'email', 'headline', 'location', 'imgUrl',
       'firstName', 'lastName', 'fullName', 'subscribers', 'connectionDegree',
       'vmid', 'userId', 'linkedinSalesNavigatorUrl', 'connectionsUrl',
       'mutualConnectionsUrl', 'company', 'companyUrl', 'jobTitle',
       'jobDescription', 'jobLocation', 'jobDateRange', 'company2',
       'companyUrl2', 'jobTitle2', 'jobDescription2', 'jobLocation2',
       'jobDateRange2', 'school', 'schoolDegree', 'schoolDateRange', 'school2',
       'schoolUrl2', 'schoolDegree2', 'schoolDegreeSpec2', 'schoolDateRange2',
       'baseUrl', 'profileId', 'timestamp', 'description', 'connectionsCount',
       'schoolUrl', 'schoolDegreeSpec', 'schoolDescription2', 'allSkills',
       'skill1', 'endorsement1', 'skill2', 'endorsement2', 'skill3',
       'endorsement3', 'skill4', 'endorsement4', 'skill5', 'endorsement5',
       'skill6', 'endorsement6', 'twitter', 'schoolDescription', 'website',
       'error', 'mail', 'mutualConnectionsText', 'birthday'],
      dtype='object')

In [11]:
data.head()
data.drop(['email','linkedinProfile','imgUrl','fullName','connectionDegree','linkedinSalesNavigatorUrl',
          'connectionsUrl','mutualConnectionsUrl','baseUrl','twitter','schoolDescription','website',
          'error','mail','mutualConnectionsText','birthday'],axis=1, inplace=True)

In [12]:
data.columns

Index(['headline', 'location', 'firstName', 'lastName', 'subscribers', 'vmid',
       'userId', 'company', 'companyUrl', 'jobTitle', 'jobDescription',
       'jobLocation', 'jobDateRange', 'company2', 'companyUrl2', 'jobTitle2',
       'jobDescription2', 'jobLocation2', 'jobDateRange2', 'school',
       'schoolDegree', 'schoolDateRange', 'school2', 'schoolUrl2',
       'schoolDegree2', 'schoolDegreeSpec2', 'schoolDateRange2', 'profileId',
       'timestamp', 'description', 'connectionsCount', 'schoolUrl',
       'schoolDegreeSpec', 'schoolDescription2', 'allSkills', 'skill1',
       'endorsement1', 'skill2', 'endorsement2', 'skill3', 'endorsement3',
       'skill4', 'endorsement4', 'skill5', 'endorsement5', 'skill6',
       'endorsement6'],
      dtype='object')

In [13]:
data.drop(['vmid','userId','companyUrl','skill2','endorsement2','skill3','endorsement3','skill4',
           'endorsement4','skill5','endorsement5','skill6','endorsement6'],axis=1, inplace=True)

In [14]:
data.drop(['jobDescription','profileId','timestamp'], axis=1, inplace=True)

In [15]:
data.drop(['jobDescription2','companyUrl2','jobLocation2','description','connectionsCount','schoolUrl',
          'schoolDegreeSpec','schoolDescription2'], axis=1, inplace=True)

In [16]:
data.isnull().sum()

headline              6
location              6
firstName             6
lastName              6
subscribers           6
company               6
jobTitle              6
jobLocation          49
jobDateRange          6
company2              6
jobTitle2             6
jobDateRange2         6
school               10
schoolDegree         29
schoolDateRange      15
school2              35
schoolUrl2           81
schoolDegree2        62
schoolDegreeSpec2    77
schoolDateRange2     39
allSkills            18
skill1               18
endorsement1         18
dtype: int64

In [17]:
data.drop(['headline','location','firstName','lastName','jobLocation','allSkills','skill1',
           'endorsement1'],axis=1, inplace=True)

In [18]:
data.drop(['schoolUrl2'],axis=1,inplace=True)

In [19]:
data.shape

(223, 14)

In [20]:
data.fillna('unknown',inplace=True)

In [21]:
data.isnull().sum()

subscribers          0
company              0
jobTitle             0
jobDateRange         0
company2             0
jobTitle2            0
jobDateRange2        0
school               0
schoolDegree         0
schoolDateRange      0
school2              0
schoolDegree2        0
schoolDegreeSpec2    0
schoolDateRange2     0
dtype: int64

In [22]:
empty = data[data['subscribers']=='unknown']
empty

,subscribers,company,jobTitle,jobDateRange,company2,jobTitle2,jobDateRange2,school,schoolDegree,schoolDateRange,school2,schoolDegree2,schoolDegreeSpec2,schoolDateRange2
4,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
13,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
15,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
18,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
20,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
152,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [23]:
data.drop(index=[4,13,15,18,20,152],axis=0,inplace=True)

In [24]:
data.to_csv('employees_cleaned.csv')

In [25]:
data.head()

,subscribers,company,jobTitle,jobDateRange,company2,jobTitle2,jobDateRange2,school,schoolDegree,schoolDateRange,school2,schoolDegree2,schoolDegreeSpec2,schoolDateRange2
0,434.0,Criteo,Lead Product Manager,avr. 2020 – Aujourd’hui,Criteo,Senior Product Manager,janv. 2018 – mars 2020,Supélec,Ingénieur,2010 – 2014,KTH Royal Institute of Technology,Douple diplôme,Engineering & Management of Information Systems,2013 – 2014
1,1325.0,Criteo,"Chief of Staff, Chief People Officier and Inte...",mai 2018 – Aujourd’hui,LESS,Cofounder - Business Development,oct. 2016 – avr. 2018,SUPELEC,Master of Engineering - MEng,1988 – 1991,HEC Paris,unknown,unknown,2013 – 2014
2,1185.0,Criteo,Head of Supply Quality and Brand Safety,nov. 2020 – Aujourd’hui,Criteo,Head of Supply Quality,janv. 2019 – nov. 2020,Master International Sport and Event Managemen...,Master,2010 – 2011,University of Southern Denmark,Echange Erasmus,Marketing,2010 – 2010
3,825.0,Criteo,Sales Manager Retail Media FR,janv. 2021 – Aujourd’hui,Criteo,Senior Account Strategist Retail Media FR,avr. 2020 – janv. 2021,ESSCA,Management,2013 – 2018,Dublin City University,Semestre académique,Management,2015 – 2015
5,769.0,Criteo,Staff Engineering Program Manager,mars 2021 – Aujourd’hui,Blizzard Entertainment,"Director of IT, Europe",mars 2015 – mars 2021,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [26]:
data['jobTitle'].value_counts()

Software Engineer                     5
Product Manager                       5
Account Strategist                    4
Account Strategist Retail Media       3
Senior Sales Manager                  3
                                     ..
Vice Chairman, Research Committee     1
R&D ML Engineer                       1
Talent Acquisition Team Lead, EMEA    1
Senior Staff Development Lead         1
Strategy & Finance Director - EMEA    1
Name: jobTitle, Length: 191, dtype: int64